* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
}

header {
    color: rgb(53, 51, 51);
    text-align: center;
    
}
header h1{
    font-size: 40px;
}

.name {
    padding: 80px 10px 30px 10px;
    

}

.title {
    padding: 10px;
}

main {
    color: rgb(53, 51, 51);
    display: flex;
    justify-content: center;
    margin: 50px 40px 50px 50px;
}
.vr{
    margin: 30px;
    border-left: 1px solid #000;
    height: 118vh;
}
.main-left {
    width: 40vw;
    margin-left: 45px;
}

.main-left h2 {
    padding: 20px 20px 20px 20px;
}
.main-right {
    width: 60vw;
    margin-left: 45px;
}
.main-right h2 {
    padding: 20px 2px 20px 2px;
}
.projects{
padding: 20px;
}
.projects h3{
    padding: 30px 0px 20px 0px;
}
.projects h4 {
   padding: 50px 0px 10px 0px;
    
}
.experience h2 {
    padding: 2px;
    margin: 30px 2px 30px 2px;
}
.experience h3{
    padding: 5px;
}

@media (max-width:600px) {
    
    main{
        flex-direction: column;
        margin-left: 2px;
        
    .vr{
        display: none;
    }
}